
body {
	font-family: 'Courier New', Courier, monospace;
	background-color: darkgreen;
}

canvas {
	border: 2px solid lightgreen;
	background-color: white;
}

button {
	margin: 5px;
	padding: 5px;
	background: linear-gradient(red,darkred,red);
	border-radius: .25rem;
	color: #F1D900;
	font-weight: bold;
}

.christmaspanel {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 50%;
	padding: 10px;
	border: 4px dotted #C30F16;
	border-radius: .33rem;
	background-color: white;
	text-align: center;
	color: #C30F16;
	font-weight: bold;
	max-width: 400px;
}

.buttonbar{
	padding-top: 10px;
}


